In [1]:
import os
import pandas as pd
import numpy as np
import glob

In [3]:
from pandas.io.json import json_normalize
import warnings
warnings.filterwarnings("ignore")

In [4]:
os.system("snscrape --jsonl --max-results 500 twitter-hashtag 'nctdisband' > tag1.json")

0

In [5]:
os.system("snscrape --jsonl --max-results 500 twitter-hashtag 'btsdisband' > tag2.json")

0

In [6]:
os.system("snscrape --jsonl --max-results 500 twitter-hashtag 'jungkookcovid' > tag3.json")

0

In [7]:
os.system("snscrape --jsonl --max-results 500 twitter-hashtag 'hyunjinbully' > tag4.json")

0

In [8]:
os.system("snscrape --jsonl --max-results 500 twitter-hashtag 'jenniebully' > tag5.json")
os.system("snscrape --jsonl --max-results 500 twitter-hashtag 'jisungnword' > tag6.json")
os.system("snscrape --jsonl --max-results 500 twitter-hashtag 'loonadisband' > tag7.json")

0

In [9]:
os.system("snscrape --jsonl --max-results 500 twitter-hashtag 'jinlazy' > tag8.json")
os.system("snscrape --jsonl --max-results 500 twitter-hashtag 'chuubully' > tag9.json")
os.system("snscrape --jsonl --max-results 500 twitter-hashtag 'namjoonracist' > tag10.json")

0

In [10]:
#merge json objects
flag = 1
for file in glob.glob("*.json"):
    df = pd.read_json(file, lines = True)
    if flag == 1:
        cols = df.columns
        df_users = pd.DataFrame(columns = cols)
        flag = 0
    else:
        df_users = pd.concat([df_users,df])

In [28]:
#normalize user object
print(df_users.shape)
user = json_normalize(df_users['user'])
user.drop(['description', 'linkTcourl'], axis=1, inplace=True)
user.rename(columns={'id':'userId', 'url':'profileUrl'}, inplace=True)
user.head(2)

(4055, 29)

,_type,username,userId,displayname,rawDescription,descriptionUrls,verified,created,followersCount,friendsCount,statusesCount,favouritesCount,listedCount,mediaCount,location,protected,linkUrl,profileImageUrl,profileBannerUrl,profileUrl
0,snscrape.modules.twitter.User,Kawaishu4,1342905354087256070,Kawaishu,,None,False,2020-12-26T18:49:33+00:00,2,55,21,207,0,3,,False,None,https://pbs.twimg.com/profile_images/139864847...,None,https://twitter.com/Kawaishu4
1,snscrape.modules.twitter.User,fernand99095753,1369669474400473095,(っ◔◡◔)っ Deborah,^•^,None,False,2021-03-10T15:21:43+00:00,0,11,10,17,0,6,,False,None,https://pbs.twimg.com/profile_images/136967327...,https://pbs.twimg.com/profile_banners/13696694...,https://twitter.com/fernand99095753

In [29]:
#drop duplicates
user = pd.DataFrame(user)
user.drop_duplicates(subset=['userId'], inplace=True)
user.head(2)

,_type,username,userId,displayname,rawDescription,descriptionUrls,verified,created,followersCount,friendsCount,statusesCount,favouritesCount,listedCount,mediaCount,location,protected,linkUrl,profileImageUrl,profileBannerUrl,profileUrl
0,snscrape.modules.twitter.User,Kawaishu4,1342905354087256070,Kawaishu,,None,False,2020-12-26T18:49:33+00:00,2,55,21,207,0,3,,False,None,https://pbs.twimg.com/profile_images/139864847...,None,https://twitter.com/Kawaishu4
1,snscrape.modules.twitter.User,fernand99095753,1369669474400473095,(っ◔◡◔)っ Deborah,^•^,None,False,2021-03-10T15:21:43+00:00,0,11,10,17,0,6,,False,None,https://pbs.twimg.com/profile_images/136967327...,https://pbs.twimg.com/profile_banners/13696694...,https://twitter.com/fernand99095753

In [30]:
user_cols = ['username', 'displayname', 'userId','rawDescription','verified','created','followersCount',
       'friendsCount', 'statusesCount', 'favouritesCount', 'listedCount',
       'mediaCount', 'location']

In [31]:
tweet_users = user[user_cols]
tweet_users.head(2)

,username,displayname,userId,rawDescription,verified,created,followersCount,friendsCount,statusesCount,favouritesCount,listedCount,mediaCount,location
0,Kawaishu4,Kawaishu,1342905354087256070,,False,2020-12-26T18:49:33+00:00,2,55,21,207,0,3,
1,fernand99095753,(っ◔◡◔)っ Deborah,1369669474400473095,^•^,False,2021-03-10T15:21:43+00:00,0,11,10,17,0,6,

In [34]:
tweet_users.shape

(1439, 13)

In [35]:
tweet_users.to_csv('snshashtags_users.csv')

In [37]:
#add userid col
user_id = []
for user in df_users['user']:
    uid = user['id']
    user_id.append(uid)
df_users['userId'] = user_id

In [38]:
#clean
cols = ['date', 'renderedContent', 'id', 'userId', 'replyCount', 'retweetCount', 'likeCount', 'quoteCount', 'media', 'quotedTweet', 'mentionedUsers', 'lang']
tweets = df_users[cols]
tweets.rename(columns={'id':'tweetId'}, inplace=True)
tweets.head(5)

,date,renderedContent,tweetId,userId,replyCount,retweetCount,likeCount,quoteCount,media,quotedTweet,mentionedUsers,lang
0,2021-05-29 14:31:06+00:00,"Оh, idk... #art #myself #nctdisband https://t....",1398648098625306628,1342905354087256070,0,0,0,0,"[{'_type': 'snscrape.modules.twitter.Photo', '...",None,None,und
1,2021-05-29 13:59:58+00:00,te quiero aquí #NintendoEnWorten #TeAlquiloDiv...,1398640263581609987,1369669474400473095,0,0,1,0,"[{'_type': 'snscrape.modules.twitter.Photo', '...",None,None,es
2,2021-05-29 13:44:30+00:00,no les pasa que taeyong bully y taeyong incest...,1398636367974912000,1392502811867369474,1,0,0,0,None,None,None,es
3,2021-05-29 13:38:51+00:00,#nctdisband jaehyun n word jisung ugly nct flo...,1398634946730790912,1392502811867369474,1,0,0,0,None,None,None,en
4,2021-05-29 13:37:34+00:00,@makkosaki #nctdisband jaehyun n word jisung u...,1398634625849831425,1392502811867369474,0,0,0,0,None,None,"[{'_type': 'snscrape.modules.twitter.User', 'u...",en

In [39]:
tweets=pd.DataFrame(tweets)
tweets.drop_duplicates(subset=['tweetId'], inplace=True)
print(tweets.shape)

(3919, 12)

In [40]:
tweets.to_csv('snshashtags_tweets.csv')