In [23]:
import os
import pandas as pd
import numpy as np
import glob
import json

In [2]:
from pandas.io.json import json_normalize
import warnings
warnings.filterwarnings("ignore")

In [3]:
os.system("snscrape --jsonl --max-results 500 twitter-hashtag 'nctdisband' > tag1.json")

0

In [4]:
os.system("snscrape --jsonl --max-results 500 twitter-hashtag 'btsdisband' > tag2.json")

0

In [5]:
os.system("snscrape --jsonl --max-results 500 twitter-hashtag 'jungkookcovid' > tag3.json")

0

In [6]:
os.system("snscrape --jsonl --max-results 500 twitter-hashtag 'hyunjinbully' > tag4.json")

0

In [7]:
os.system("snscrape --jsonl --max-results 500 twitter-hashtag 'jenniebully' > tag5.json")
os.system("snscrape --jsonl --max-results 500 twitter-hashtag 'jisungnword' > tag6.json")
os.system("snscrape --jsonl --max-results 500 twitter-hashtag 'loonadisband' > tag7.json")

0

In [8]:
os.system("snscrape --jsonl --max-results 500 twitter-hashtag 'jinlazy' > tag8.json")
os.system("snscrape --jsonl --max-results 500 twitter-hashtag 'chuubully' > tag9.json")
os.system("snscrape --jsonl --max-results 500 twitter-hashtag 'namjoonracist' > tag10.json")

0

In [9]:
#merge json objects
flag = 1
for file in glob.glob("*.json"):
    df = pd.read_json(file, lines = True)
    if flag == 1:
        cols = df.columns
        df_users = pd.DataFrame(columns = cols)
        flag = 0
    else:
        df_users = pd.concat([df_users,df])

In [10]:
#normalize user object
print(df_users.shape)
user = json_normalize(df_users['user'])
user.drop(['description', 'linkTcourl'], axis=1, inplace=True)
user.rename(columns={'id':'userId', 'url':'profileUrl'}, inplace=True)
user.head(2)

(3509, 28)

,_type,username,userId,displayname,rawDescription,descriptionUrls,verified,created,followersCount,friendsCount,statusesCount,favouritesCount,listedCount,mediaCount,location,protected,linkUrl,profileImageUrl,profileBannerUrl,profileUrl
0,snscrape.modules.twitter.User,btsdisband9,1402752139496202240,bts disband,,None,False,2021-06-09T22:19:25+00:00,1,1,64,11,0,4,,False,None,https://abs.twimg.com/sticky/default_profile_i...,None,https://twitter.com/btsdisband9
1,snscrape.modules.twitter.User,hoseokcaballo,1402850500173783043,bts disband,,None,False,2021-06-10T04:50:38+00:00,1,1,6,1,0,1,,False,None,https://pbs.twimg.com/profile_images/140285164...,https://pbs.twimg.com/profile_banners/14028505...,https://twitter.com/hoseokcaballo

In [11]:
#drop duplicates
user = pd.DataFrame(user)
user.drop_duplicates(subset=['userId'], inplace=True)
user.head(2)

,_type,username,userId,displayname,rawDescription,descriptionUrls,verified,created,followersCount,friendsCount,statusesCount,favouritesCount,listedCount,mediaCount,location,protected,linkUrl,profileImageUrl,profileBannerUrl,profileUrl
0,snscrape.modules.twitter.User,btsdisband9,1402752139496202240,bts disband,,None,False,2021-06-09T22:19:25+00:00,1,1,64,11,0,4,,False,None,https://abs.twimg.com/sticky/default_profile_i...,None,https://twitter.com/btsdisband9
1,snscrape.modules.twitter.User,hoseokcaballo,1402850500173783043,bts disband,,None,False,2021-06-10T04:50:38+00:00,1,1,6,1,0,1,,False,None,https://pbs.twimg.com/profile_images/140285164...,https://pbs.twimg.com/profile_banners/14028505...,https://twitter.com/hoseokcaballo

In [12]:
user_cols = ['username', 'displayname', 'userId','rawDescription','verified','created','followersCount',
       'friendsCount', 'statusesCount', 'favouritesCount', 'listedCount',
       'mediaCount', 'location']

In [13]:
tweet_users = user[user_cols]
tweet_users.head(2)

,username,displayname,userId,rawDescription,verified,created,followersCount,friendsCount,statusesCount,favouritesCount,listedCount,mediaCount,location
0,btsdisband9,bts disband,1402752139496202240,,False,2021-06-09T22:19:25+00:00,1,1,64,11,0,4,
1,hoseokcaballo,bts disband,1402850500173783043,,False,2021-06-10T04:50:38+00:00,1,1,6,1,0,1,

In [14]:
tweet_users.shape

(1130, 13)

In [15]:
tweet_users.to_csv('snshashtags_users.csv', index=False)

In [32]:
#add userid col
user_id = []
for user in df_users['user']:
    uid = user['id']
    user_id.append(uid)
df_users['userId'] = user_id

In [33]:
#clean
cols = ['date', 'renderedContent', 'id', 'userId', 'replyCount', 'retweetCount', 'likeCount', 'quoteCount', 'media', 'quotedTweet', 'mentionedUsers', 'lang']
tweets = df_users[cols]
tweets.rename(columns={'id':'tweetId'}, inplace=True)
tweets.head(5)

,date,renderedContent,tweetId,userId,replyCount,retweetCount,likeCount,quoteCount,media,quotedTweet,mentionedUsers,lang
0,2021-06-10 05:34:23+00:00,#btsdisband jin ebrio namjoon racist bts racis...,1402861683840884737,1402752139496202240,1,0,0,0,None,None,None,en
1,2021-06-10 05:27:35+00:00,yoongi racist\nbts racist\njimin ugly \nyoongi...,1402859968886345734,1402850500173783043,0,0,0,0,None,None,None,en
2,2021-06-10 04:38:28+00:00,yoongi racist\nbts racist\njimin ugly \nyoongi...,1402847611925770242,1402772888760033282,2,0,0,0,"[{'_type': 'snscrape.modules.twitter.Photo', '...",None,None,en
3,2021-06-10 04:37:40+00:00,@qkxnwkdi yoongi racist\nbts racist\njimin ugl...,1402847406845317122,1402772888760033282,0,0,0,0,None,None,"[{'_type': 'snscrape.modules.twitter.User', 'u...",en
4,2021-06-10 02:34:49+00:00,@Jklovable_ a-ay a-amiga a m-mí me p-pasa q-qu...,1402816491683201024,1390079867845332993,0,0,0,0,None,None,"[{'_type': 'snscrape.modules.twitter.User', 'u...",es

In [34]:
tweets=pd.DataFrame(tweets)
tweets.drop_duplicates(subset=['tweetId'], inplace=True)
print(tweets.shape)

(3380, 12)

In [40]:
tweets.dtypes

date               datetime64[ns, UTC]
renderedContent                 object
tweetId                         object
userId                           int64
replyCount                      object
retweetCount                    object
likeCount                       object
quoteCount                      object
media                           object
quotedTweet                     object
mentionedUsers                  object
lang                            object
dtype: object

In [36]:
lang_codes = json.load( open( "language_mapping.json" ) )

In [37]:
tweets['lang'] = tweets['lang'].map(lang_codes)
tweets.head(2)

,date,renderedContent,tweetId,userId,replyCount,retweetCount,likeCount,quoteCount,media,quotedTweet,mentionedUsers,lang
0,2021-06-10 05:34:23+00:00,#btsdisband jin ebrio namjoon racist bts racis...,1402861683840884737,1402752139496202240,1,0,0,0,None,None,None,English
1,2021-06-10 05:27:35+00:00,yoongi racist\nbts racist\njimin ugly \nyoongi...,1402859968886345734,1402850500173783043,0,0,0,0,None,None,None,English

In [38]:
tweets.to_csv('snshashtags_tweets.csv',index=False)

In [41]:
tweets.lang.unique()

array(['English', 'Spanish; Castilian', nan, 'Estonian', 'Indonesian',
       'Finnish', 'Turkish', 'Thai', 'Korean', 'Polish', 'Portuguese',
       'Catalan; Valencian', 'French', 'Tagalog', 'Italian', 'Vietnamese',
       'Dutch', 'Arabic', 'Basque', 'Lithuanian', 'Romanian, Moldavan',
       'Danish', 'Hungarian', 'Haitian', 'Slovene', 'Czech', 'Russian',
       'Swedish', 'Norwegian', 'Hindi', 'Icelandic'], dtype=object)

In [42]:
tweets[['tweetId','lang']].groupby('lang').count().sort_values(by=['tweetId'], ascending=False)

                    tweetId
lang
English                1403
Spanish; Castilian      817
Korean                  347
Indonesian              200
Romanian, Moldavan      105
Tagalog                  61
Portuguese               37
Finnish                  35
Estonian                 20
Polish                   19
Haitian                  15
Italian                  11
French                    8
Hungarian                 8
Czech                     8
Dutch                     6
Thai                      4
Vietnamese                4
Lithuanian                4
Basque                    4
Catalan; Valencian        4
Turkish                   3
Norwegian                 2
Icelandic                 2
Russian                   1
Slovene                   1
Hindi                     1
Swedish                   1
Danish                    1
Arabic                    1

In [44]:
#df1 = tweets[['tweetId','lang']].groupby('lang').count().sort_values(by=['tweetId'], ascending=False)
#df1.to_csv('stats.csv', index=False)